/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid;
}

button {
    padding: 10px;
    border: unset;
}

p {
  color: rgba(29, 29, 26, 0.73);
    
}

.msg {
    border: 2px solid #ce5050;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
